.movie-container{
  background-color: #4F46E5;
  display: flex;
  flex-wrap: wrap;
}

.movie{
  margin: 1rem;
  width: 300px;
  background-color: #3730A3;
  border-radius: 10px;
}
.movie-info{
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-info h3{
  margin: 0;
  padding: 1rem;
}
.movie img{
  max-width: 100%;
}